Flujo 2
{
  "name": "Generador Guiones Terror IA - PiAPI + Imágenes + Audio → Drive",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "TU_SHEET_ID_AQUI",
        "range": "Hoja1!A:Z",
        "filtersUi": {
          "conditions": [
            {
              "key": "estatus",
              "value": "Pendiente"
            }
          ]
        }
      },
      "id": "2",
      "name": "Google Sheets - Buscar pendiente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TU_CRED_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "idea",
              "value": "={{ $json[\"idea\"] }}"
            },
            {
              "name": "id_fila",
              "value": "={{ $json[\"__rowNumber__\"] || $json.id || $json.row_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Set - Extraer idea",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const idea = items[0].json.idea || '';\nconst locMatch = idea.match(/en (.*?), sueldo/i);\nconst sueMatch = idea.match(/sueldo de ([\\d,]+) dólares/i);\nconst locacion = locMatch ? locMatch[1].trim() : 'locación desconocida';\nconst sueldo = sueMatch ? sueMatch[1].replace(/,/g, '') : '10000';\nreturn [{ json: { ...items[0].json, locacion, sueldo } }];"
      },
      "id": "4",
      "name": "Code - Parsear loc y sueldo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"gpt-4o-mini\", \"messages\": [ {\"role\": \"system\", \"content\": \"Actúa como un guionista experto en Terror Analógico y estética Silent Hill. Tu tarea es redactar un guion de vacante nocturna prohibida siguiendo estrictamente estas reglas: Estructura del Guion: Gancho: Una pregunta inquietante relacionada con la locación. Introducción: Presentar el puesto, el lugar (clausurado/abandonado) y el sueldo. Cuerpo: Lista de 5 reglas numeradas, oscuras y con consecuencias sobrenaturales. Cierre: Una frase final de advertencia y un objeto mencionado como herramienta. Parámetros Técnicos: Extensión Máxima: 1500 caracteres. Tono: Sombrío, serio, opresivo (Voz de Hombre Serio). Estilo: Lenguaje directo, omitir explicaciones innecesarias. Variables de Entrada: Locación: \" + $json.locacion + \" Sueldo: \" + $json.sueldo + \" Formato de Salida: Devuelve solo el texto del guion, listo para ser leído por una voz de IA.\" }, {\"role\": \"user\", \"content\": \"Genera el guion ahora.\" } ] } }}"
      },
      "id": "5",
      "name": "PiAPI - Generar Guión",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "TU_CRED_PIAPI",
          "name": "PiAPI Bearer"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "guion",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6",
      "name": "Set - Extraer guión",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets - Buscar pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Buscar pendiente": {
      "main": [
        [
          {
            "node": "Set - Extraer idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Extraer idea": {
      "main": [
        [
          {
            "node": "Code - Parsear loc y sueldo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parsear loc y sueldo": {
      "main": [
        [
          {
            "node": "PiAPI - Generar Guión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PiAPI - Generar Guión": {
      "main": [
        [
          {
            "node": "Set - Extraer guión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": 1
}
